   @font-face {
      font-family: 'Bitum';
      src: local('./fonts/Bitum.woff2'),
         url('./fonts/Bitum.woff2') format('woff2'),
         url('./fonts/Bitum.woff') format('woff'),
         url('./fonts/Bitum.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
   }

body {
   padding: 20px;
   background-color: #E5E5E5;
   font-family: 'Bitum', 'Arial', sans-serif;
}

.pop-up__container {
   background-color: #fff;
   position: relative;
   box-sizing: border-box;
   padding: 28px 50px 33px 50px;
   margin: 0 auto;
   max-width: 615px;
   max-height: 225px;
   border-radius: 6px;
   @media (max-width: 600px) {
      max-width: 550px;
      padding: 28px 45px 33px 45px;
   }
   @media (max-width: 530px) {
      padding: 28px 40px 33px 40px;
   }
   @media (max-width: 480px) {
      padding: 20px 30px 20px 30px;
   }
   @media (max-width: 430px) {
      padding: 15px 20px 15px 20px;
   }
   @media (max-width: 360px) {
      padding: 15px 5px 15px 5px;
   }
   @media (max-width: 320px) {
      min-width: 320px;
   }
}

.pop-up__image {
   display: flex;
   align-items: center;
   height: 49px;
}

.pop-up__image img {
   @media (max-width: 530px) {
      max-height: 42px;
   }
   @media (max-width: 480px) {
      max-height: 37px;
   }
   @media (max-width: 360px) {
      max-height: 34px;
   }
}

.pop-up__content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.pop-up__text {
   margin: 10px 0px 0px 0px;
   color: #313131;
   font-size: 20px;
   text-align: center;
   line-height: 24px;
   font-weight: 400;
   @media (max-width: 600px) {
      font-size: 18px;
   }
   @media (max-width: 580px) {
      font-size: 16px;
   }
   @media (max-width: 480px) {
      font-size: 14px;
      line-height: 20px;
      margin: 5px 0px 0px 0px;
   }
   @media (max-width: 430px) {
      font-size: 13px;
      line-height: 18px;
      margin: 3px 0px 0px 0px;
   }
   @media (max-width: 380px) {
      font-size: 11px;
      line-height: 16px;
   }
}

.pop-up__button {
   margin: 20px 0px 0px 0px;
   border-radius: 6px;
   width: 40%;
   background-color: #232323;
   color: white;
   font-size: 14px;
   display: flex;
   justify-content: center;
   align-content: center;
   line-height: 40px;
   @media (max-width: 530px) {
      margin: 10px 0px 0px 0px;
   }
   @media (max-width: 480px) {
      font-size: 13px;
      line-height: 30px;
      border-radius: 6px;
   }
   @media (max-width: 360px) {
      font-size: 11px;
      line-height: 24px;
      border-radius: 6px;
   }
}

.pop-up__close-button {
   display: flex;
   position: absolute;
   width: 32px;
   height: 32px;
   right: 15px;
   top: 15px;
   @media (max-width: 500px) {
      width: 25px;
      height: 25px;
      right: 10px;
      top: 10px;
   }
   @media (max-width: 360px) {
      width: 20px;
      height: 20px;
      right: 7px;
      top: 7px;
   }
}
